<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:ds.properties</value>
            </list>
        </property>
    </bean>

    <!-- 数据源，BasicDataSource,commons-dbcp -->

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 基本属性 url、user、password -->
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="dbType" value = "${db.dbType}" />
        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="${conn.initialSize}"/>

        <!-- 配置监控统计拦截的filters -->
        <property name="filters" value="wall,stat" />

    </bean>

    <!--mybatis sessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="p6psyDataSource"></property>
        <property name="mapperLocations" value="classpath*:mapper/*.xml"></property>
        <!--mybatis 配置文件-->
        <property name="configLocation" value="mybatis/mybatisConfig.xml"/>
       <!-- <property name="plugins">
            <list>
                <bean class="com.github.pagehelper.PageInterceptor">
                    &lt;!&ndash; 这里的几个配置主要演示如何使用，如果不理解，一定要去掉下面的配置 &ndash;&gt;
                    <property name="properties">
                        <value>
                            helperDialect=mysql
                            reasonable=true
                            supportMethodsArguments=true
                            params=count=countSql
                            autoRuntimeDialect=true
                        </value>
                    </property>
                </bean>
            </list>
        </property>-->
    </bean>
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.sgg.frame.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- Hibernate SesssionFactory -->
  <!--  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="p6psyDataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="packagesToScan" value="com.sgg.frame.beans" />
    </bean>

    &lt;!&ndash;HibernateTemplete&ndash;&gt;
    <bean class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="com.sgg.frame.common.MyHibernateDaoSupport"/>
-->

    <!-- PlatTranscationManager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="p6psyDataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
    <!-- p6spy配置 -->
    <bean id="p6psyDataSource" class="com.p6spy.engine.spy.P6DataSource">

        <constructor-arg ref="dataSource"></constructor-arg>
    </bean>
</beans>

